<mat-sidenav-container class="h-screen dark:!bg-black-primary" [hasBackdrop]="false">
  <mat-sidenav
    class="flex h-1/2 ml-5 mt-auto mb-auto pt-5 !w-16 rounded-2xl dark:!bg-black-secondary overflow-hidden transition-all duration-500 ease-in-out hover:!w-36"
    mode="side" opened>
    <div class="flex flex-col items-start h-fit w-fit gap-2 relative">
      <app-nav-button [route]="''" [label]="'navigation.home' | transloco"
                      [iconSrc]="'assets/icons/home.svg'"></app-nav-button>
      <app-nav-button [route]="'/games'" [label]="'navigation.games' | transloco"
                      [iconSrc]="'assets/icons/games.svg'"></app-nav-button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
