<mat-sidenav-container class="h-screen w-screen" [hasBackdrop]="false">
  <mat-sidenav class="m-2 p-2 !w-auto" mode="side" opened [disableClose]="true">
    <div class="flex flex-col h-screen overflow-hidden justify-start gap-4">
      <div class="flex flex-col gap-2">
        <button mat-raised-button color="primary" routerLink="">Home</button>
      </div>
      <div class="flex flex-col gap-2">
        <button mat-raised-button color="primary" routerLink="/lobby">Game</button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="h-screen dark:bg-black-primary p-4">
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
